*{margin:0;
padding:0;
}
.button{
width:75px;
height:50px;
font-size;25px;
margin:0px;
cursor:pointer;
border:none;}
.bb
{
margin:2px;
background-color:grey;
border:solid;
width:55%;}
.form
{backgroung-color:wheat;
margin:2px;}
.body{
background-color:wheat;}
.red
{
background-color:rgb(253,219,81);
}
.grey
{background-color:light grey;}
.green
{background-color:rgb(88,167,141);}
.white{
background-color:rgb(255,0,0);
}
.orange
{background-color:orange;
}